
<div class="container">

	<div class ="jumbotron text-center">
		<h1>Welcome to Jordan's Blog</h1>
		<h2>New Features: User Base</h2>
		<%= link_to 'Create an Article', new_article_path, class: "btn btn-lg btn-primary"%>
		<%= link_to 'List Articles', articles_list_path, class: "btn btn-lg btn-primary"%>
	</div>
	
</div>
